.cart__page {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: #efefef;
  padding: 14px;
}

.cart__page > * {
  padding: 1em 21px;
  background: #fff;
}

.cart__page > *:not(div) {
  display: flex;
  gap: 1em;
  align-items: center;
}

.product__title {
  margin-bottom: 10px;
}
.product__price {
  margin-bottom: 5px;
}
.product__quantity {
  margin-bottom: 10px;
}
.cart__wrapper {
  max-width: 526px;
}
